@import "components/card.css";
@import "fonts.css";

body {
  background: white;
  margin: 0;
  font-family: SuisseIntl;
}


/* Header and Footer */

header {
  background: white;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: sticky;
  z-index: 100;
}
header .logo, footer .logo {
  width: 90%;
  margin: 30px 0;
  background: white;
}
footer {
  background: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  text-align: center;
}
.logo img {
  max-width: 100%;
}
.logo-small {
  width: 50% !important;
  margin: 12px 0 !important;
}
#navbar {
  width: 100%;
  position: absolute;
  z-index: -50;
  background: white;
  padding-bottom: 16px;
  top: 122px;
  transition: 0.3s;
}
#subnav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  font-size: 13px;
}
#subnav > ul > li:first-child {
  margin-left: 60px;
}
#subnav > ul > li:last-child {
  margin-right: 60px;
}
#burger-menu-mobile {
  display: none;
}
#burger-menu-mobile img, #burger-menu-desktop img {
  width: 20px;
}
#icone-recherche {
  display: none;
}
#contact-infos p {
  font-size: 12px;
  font-weight: bold;
}
#footer-links {
  width: 100%;
  margin-top: 30px;
}
#subnav li {
  display: inline;
  margin: 0 10px;
}
.links {
  margin: 0 60px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875em;
  display: flex;
  justify-content: center;
}
.links li:hover, #subnav a:hover {
  text-decoration: underline;
}
#menu-mobile {
  background: white;
  padding: 30px;
  position: fixed;
  width: 100%;
  z-index: 100;
  display: none;
}
#menu-mobile ul:first-child {
  font-weight: 700;
  text-transform: uppercase;
}
#menu-mobile li {
  margin: 6px 0;
}
#burger-menu-mobile:hover {
  cursor: pointer;
}
.display-block {
  display: block !important;
}

/* Global tags and classes */

.title-large {
  font-family: 'IBMPlexMono', monospace;
  text-transform: uppercase;
  font-size: 5em;
  line-height: 1em;
  margin: 30px 0;
}
.difference {
  mix-blend-mode: difference;
}
.white {
  color: white;
}
.mb-medium {
  margin-bottom: 30px;
}
.mb-large {
  margin-bottom: 60px;
}
.pb-large {
  padding-bottom: 60px !important;
}
.px-large {
  padding-left: 60px;
  padding-right: 60px;
}
.sans-serif {
  font-family: sans-serif;
}
.section-split {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.col-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.gap-60 {
  grid-column-gap: 60px;
}
.bg-white {
  background: white;
}
h5, .card-tags {
  text-transform: uppercase;
  font-size: 0.75em;
}
a {
  color: black;
  text-decoration: none;
}
ul {
  padding-inline-start: 0px;
  list-style: none;
}
li {
/*  display: inline;
  margin: 0 14px;*/
}
#navbar li, #footer-links li {
  display: inline;
  margin: 0 14px;
}


/* Blocks */

.articles-right {
  padding: 0 60px 0 30px;
}
.articles-left {
  padding: 0 30px 0 60px;
}
#articles-01 > div {
  overflow: hidden;
}
#section-01 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#section-01 > * {
  overflow: hidden;
}
#headline-fixed-left, #headline-fixed-right {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(90deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 100%), url("../images/img-bg-archi-01.png");
  position: fixed;
  width: calc(50vw - 30px);
  height: 100vh;
  bottom: 0;
  z-index: -100;
  min-height: 870px;
}
#headline-fixed-left {
  margin-right: 30px;
  background-image: linear-gradient(90deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 100%), url("../images/img-bg-archi-01.png");
  left: 0;
}
#headline-fixed-left > div {
  margin: 0 30px 60px 60px;
  position: absolute;
  bottom: 0;
}
#headline-fixed-right {
  background-image: linear-gradient(90deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 100%), url("../images/img-bg-02.png");
  right: 0;
}
#headline-fixed-right > div {
  margin: 0 30px 60px 60px;
  position: absolute;
  bottom: 0;
}
#banner-mag {
  background: #FFFF00;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 30px 36px;
}
#banner-mag img {
  position: relative;
  left: -5px;
  width: 100%;
}
.banner-full-width > div {
  padding: 0 60px;
}
.banner-full-width img {
  max-width: 100%;
}
.img-banner-theatre {
  width: 100%;
}
.empty {
  height: 100vh
}


/* Responsive | 1024px */

@media screen and (max-width: 1024px) {
  .col-2 {
    display: block;
  }
  .title-large {
    font-size: 3.5em;
  }
  #navbar {
    display: none;
  }
  header {
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 30px;
  }
  header .logo {
    width: 50%;
    margin: 12px 0;
  }
  #burger-menu-mobile {
    display: block;
  }
  #subnav {
    display: none;
  }
  #icone-recherche {
    display: block;
  }
}


/* Responsive | 768px */

@media screen and (max-width: 768px) {
  .empty {
    display: none;
  }
  .section-split {
    display: block;
  }
  .col-3 {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
  }
  #headline-fixed-left, #headline-fixed-right {
    width: 100%;
    position: relative;
    top: -45px;
    min-height: 370px;
  }
  #headline-fixed-left > div, #headline-fixed-right > div {
    margin: 30px;
  }
  .articles-left, .articles-right {
    padding: 0 30px;
  }
  .px-large {
    padding-left: 30px;
    padding-right: 30px;
  }
  .pt-large {
    padding-top: 30px !important;
  }
  .banner-full-width > div {
    padding: 0 30px;
  }
  #footer-links {
    margin-top: 0;
  }
  footer .links {
    flex-direction: column;
  }
  footer .links li {
    margin: 10px 16px;
  }
  footer {
    padding: 60px 30px;
  }
  .title-large {
    font-size: 2.5em;
  }
}
