@import "components/card.css";
@import "fonts.css";


body {
  background: white;
  margin: 0;
  font-family: SuisseIntl;
}
h5, .card-tags {
  text-transform: uppercase;
  font-size: 0.75em;
}
.title-large {
  font-family: 'IBMPlexMono', monospace;
  text-transform: uppercase;
  font-size: 5em;
  line-height: 1em;
  margin: 30px 0;
}
.difference {
  mix-blend-mode: difference;
}
.white {
  color: white;
}
.mt-60 {
  margin-top: 60px;
}
.pt-60 {
  padding-top: 60px !important;
}
.pb-60 {
  padding-bottom: 60px !important;
}
.px-60 {
  padding-left: 60px;
  padding-right: 60px;
}
header {
  /*margin: 0 60px;*/
}
header {
  background: white;
  left: 0;
  padding: 0 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#logo {
  margin-top: 30px;
}
#menu {
  width: 100%;
  text-transform: uppercase;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ul {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0px;
}
li {
  display: inline;
}
.col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 60px;
}
.col-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px;
}
#articles-01 > * {
  margin-bottom: 60px;
}
.bg-white {
  background: white;
}
#articles-01 {
  padding: 0 60px 0 30px;
}
.articles-left {
  padding: 0 30px 0 60px;
}
#articles-01 > div {
  overflow: hidden;
}
#section-01 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#section-01 > * {
  /*flex: 1;*/
  overflow: hidden;
}
#headline-fixed-left {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 30px;
  background-image: linear-gradient(90deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 100%), url("../images/img-bg-archi-01.png");
  position: fixed;
  width: calc(50vw - 30px);
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -100;
}
#headline-fixed-left > div {
  margin: 0 30px 60px 60px;
  position: absolute;
  bottom: 0;
}
#headline-fixed-right {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(90deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 100%), url("../images/img-bg-02.png");
  position: fixed;
  width: calc(50vw - 30px);
  height: 100vh;
  top: 0;
  right: 0;
  z-index: -100;
}
#headline-fixed-right > div {
  margin: 0 30px 60px 60px;
  position: absolute;
  bottom: 0;
}
#banner-mag {
  background: #FFFF00;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 30px 36px;
}
#banner-mag img {
  position: relative;
  left: -5px;
}

@media screen and (max-width: 1024px) {
  .col-2 {
    grid-template-columns: 1fr;
  }
}
